/* En tu archivo de estilos CSS (por ejemplo, App.css) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 20px;  /* Espaciado entre los botones */
  }
  
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    justify-content: space-between;
    display: flex;
  }
  nav{
    background-color: darkred;
  }